<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <title>TimeToAnswer</title>
    <%= stylesheet_link_tag    'application'%>
    <%= stylesheet_link_tag    'admins_devise'%>
  </head>
  <body>
        <h1>Admin layout</h1>
        <div class="container">
            <%= yield %>
        </div>
        <%= javascript_include_tag 'application'%>
        <%= javascript_include_tag 'admins_devise'%>
        <% if flash %>
            <% flash.each do |key, value| %>
                <script>
                    $.bootstrapGrowl('<%= value %>',{
                    type: 'danger', 
                    align: 'right',
                    allow_dismiss: true,
                    stackup_spacing: 10});
                </script>
            <% end %>
        <% end %>
  </body>
</html>